#markRideAsComplete{
    width:1300px;
    height:auto;
    text-align:center;
    background:#cde8f8bf;
    padding:20px 50px;
    border-radius: 5px;
    margin-top: 10px;
    
}


#markRideAsComplete h1{
    color:rgb(34, 32, 77);
    text-align:center;
    font-weight: 900;
}

.rider {
    width:auto;
    font-size:18px;
    margin-top: 10px;
    border-bottom:2px solid rgba(255, 255, 255, 0);
    padding:5px 10px;
    background:#ffffff;
    color:rgb(0, 0, 0);
    border-radius: 5px;
}

#markRideAsComplete .rider button{
    width:280px;
    height:30px;
    font-size:20px;
    font-weight:700;
    color:rgb(255, 255, 255);
    background-image: linear-gradient(to right, #66aaaf 0%, #777fac 100%);
    border:0;
    border-radius:15px;
}

.rider button a{
    color:rgb(255, 255, 255);
}